.card-header {
	background-color: #2a9941!important;
	color: #fff;
	font-weight: bold;
}

.desc {
	border-bottom: 1px solid #2a9941;
	height: 50px;
}

.desc-half {
	width: 50%;
}

.separator {
	border-left: 1px solid #2a9941;
}

.nav-back {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

.product-back {
	background-color: #fff;
}

.card a {
	color: #000;
}

.card a:hover {
	text-decoration: none;
	color: blue;
}

.page-list{
	margin: 50px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.description {
	padding: 20px;
	background-color: #fff;
	color: #000;
	text-align: left;
}

.sombra{
	-webkit-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.75);
}

#toxoCarousel{
	max-height: 400px !important;
}